img {
    width: 300px;
    height:300px
}
body{
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background: linear-gradient(to left, red, green);
    color: yellow;
}